
<form method="POST" action="/new">
    h1 Post a Message
    input(type="text", id="name", name="user") 
    br
    br
    input(type="text", id="message", name="messageText") 
    br 
    br
    button(type="submit") Submit
    br
    br
    a(href="/") Go Home
</form>